NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCCvRupYIblQrYGjUsYBSZCjiUn9021Y8w
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=kas-bersama-11f86.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=kas-bersama-11f86
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=kas-bersama-11f86.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=564509642952
NEXT_PUBLIC_FIREBASE_APP_ID=1:564509642952:web:c8798e04537946ddac15fd
